set default=0
set timeout=12
insmod all_video
insmod tga
insmod png
insmod gfxterm
terminal_output gfxterm
set gfxmode=auto
set gfxpayload=keep
background_image ($root)/boot/grub/splash.tga
set color_normal=#dceeff/#071934
set color_highlight=#ffffff/#176fc4
set menu_color_normal=#dceeff/#071934
set menu_color_highlight=#ffffff/#176fc4
set menu_color_selected=#ffffff/#176fc4
set timeout_style=menu
LINUX_LIVE
LINUX_INSTALL
MEMTEST
