# Lindows bootloader identity and presentation.
GRUB_DISTRIBUTOR="Lindows"
GRUB_THEME="/boot/grub/themes/lindows/theme.txt"
GRUB_TIMEOUT_STYLE=menu
GRUB_TIMEOUT=6
GRUB_DEFAULT=0
GRUB_DISABLE_OS_PROBER=false
